@model WebApplication2.Models.Chapter

@{
    ViewBag.Title = "Creation de chapitre";

}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    <script type="text/javascript">
        console.log(window.location.search());
        function OnChangeEvent() {
            var str = document.getElementById("ContentId").value;
            document.getElementById("CountWord").value = str.replace(/\s+/g,' ').trim().split(' ').length;
        }
    </script>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Chapitre</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @id = "ContentId", @onkeyup = "OnChangeEvent();", @class = "form-control TextAreaChapter" });
                <h4>Nombre de mot: </h4>
                <input type="number" id="CountWord" min="0" disabled="disabled" value="0" style="text-align: center">
                @Html.TextBoxFor(model => model.BookId, new { @Value = @Model.BookId, @hidden = "hidden" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Createe" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
