@model PagedList.IPagedList<WebApplication2.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Creer un nouveau livre", "Create")
</p>
@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <p>
        Chercher un Livre: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Titre", "Index", new {sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.DisplayName("Resume")
        </th>
        <th>
            @Html.DisplayName("Auteurs")
        </th>
        <th>
            @Html.DisplayName("Dernier Chapitre")
        </th>
        <th>
            @Html.ActionLink("Date de creation", "Index", new {sortOrder = ViewBag.CreationDateSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Date de modification", "Index", new {sortOrder = ViewBag.ModificationDateSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.DisplayName("Couverture")
        </th>
        <th>
            @Html.DisplayName("Contenue")
        </th>
        <th>
            @Html.DisplayName("Nbr de chapitre")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.BookId}) |
                @Html.ActionLink("Details", "Details", new {id = item.BookId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.BookId})
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
